.entireAboutContainer {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.why-container {
    width: 1000px;
    text-align: justify;
    margin: auto;
}

.why-text {
    font-size: 16px;
    line-height: 1.5;
}

#the-Why {
    color: white;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}

.goalOneContainer, .goalTwoContainer, .goalThreeContainer, .goalFourContainer{
    padding: 20px;
    width: 900px;
    color: white;
    line-height: 1.3;
    text-align: justify;
    background-color: #333333;
    border-radius: 25px;
    display: flex;
    gap: 20px;
}

.goalContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    height: 800px;
}

.goal {
    font-size: 26px;
    font-weight: 600;
    padding-bottom: 10px;
}
