.mainTaglineContainer {
    display: flex;
    flex-direction: column;
    gap: 300px;
}
.SubTaglineContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#topContainer {
    padding-top: 70px;
}

#bottomContainer {
    position: relative;
    bottom: 200px;
}

.tagline1, .tagline2 {
    display: flex;
    flex-direction: column;
    width: 425px;
    height: 142px;
}


.taglineHeader {
    font-size: 36px;
    font-weight: 500;
}


p {
    color: white;
    word-break: normal;
}


#guarantees {
   color: white;
   font-size: 64px;
   font-weight: 500;
   text-align: center;
   padding-top: 100px;
}

.guaranteeContainer {
    height: 700px;
    position: relative;
    bottom: 150px;
}
.WholeSVGTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 100px;
}

.SvgTextContainer {
    width: 355px;
    height: 325px;
}
.svgImg {
    width: 355px;
    height: 325px;
}

.imgTag {
    color: white;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}

.textTag {
    color: white;
    text-align: center;
    word-break: normal;
    padding-top: 10px;
    font-weight: 100;
}