.roadmapButtonContainer {
    position: relative;
    display: inline-block;

}

.roadmapButtonContainer img {
    display: block;
    max-width: 100%;
    height: auto;
}

.lockImage {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.roadmapButtonTextLocked {
    font-size: 16px;
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    color: black;
    opacity: 0.2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.roadmapButtonText {
    font-size: 16px;
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    
}



#hello-world {
    transform: translate(119px, 400px);
}


#variables {
    transform: translate(210px, 320px);
}

#operators {
    transform: translate(309px, 400px);
}

#functions {
    transform: translate(410px, 460px);
}

#arrays {
    transform: translate(510px, 400px);
}

#data-types {
    transform: translate(-50px, 200px);
}

#type-casting {
    transform: translate(50px, 200px);
}

#if-else-then {
    transform: translate(360px, 320px);
}

#loops {
    transform: translate(460px, 400px);
}

#recursion {
    transform: translate(560px, 320px);
}

