.roadmapButtonContainer {
    position: relative;
    display: inline-block;

}

.roadmapButtonContainer img {
    display: block;
    max-width: 100%;
    height: auto;
}


.roadmapButtonText {
    font-size: 16px;
    position: absolute;
    top: 42%;
    left: 0;
    width: 100%;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    
}